.faq {
  background-color: $secondary-page-bg;
}

.faq__wrapper {
  width: 320px;
  min-height: 849px;
  margin: 0 auto;
  padding: 71px 15px 70px;

  @media (min-width: $tablet-width) {
    width: 768px;
    min-height: 741px;
    padding: 61px 45px 59px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 260px 860px;
    grid-template-rows: 104px 1fr;
    gap: 0 40px;
    align-items: flex-start;
    width: 1366px;
    min-height: 743px;
    padding: 100px 103px;
  }
}

.faq__title {
  margin: 0 0 34px;
  font-family: $secondary-font;
  font-size: 32px;
  line-height: 32px;
  font-weight: 600;
  color: $primary-text-color;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 0 0 44px;
    font-size: 42px;
    line-height: 42px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    margin: 0;
    font-size: 54px;
    line-height: 54px;
    text-align: left;
  }
}

.faq__buttons {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  gap: 10px;
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(4, 162px);
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
    grid-template-columns: 260px;
    margin-bottom: 0;
  }
}

.faq__button {
  padding: 14px 0;
  font-family: $primary-font;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  background-color: transparent;
  color: $primary-text-color;
  border: 1px solid $faq-tabs-buttons-border-color;
  cursor: pointer;

  &--active {
    color: $secondary-text-color;
    background: $button-faq-gradient-bg;
    border: none;
  }

  @media (min-width: $tablet-width) {
    padding: 17px 0;
    font-size: 18px;
    line-height: 18px;
  }

  @media (min-width: $desktop-width) {
    padding: 19px 0 15px;
    font-size: 18px;
    line-height: 18px;

    &--active {
      padding: 20px 0 16px;
    }
  }
}

.faq__tabs {
  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
  }
}

.faq__accordion-tab {
  position: relative;
  padding: 20px 52px 21px 0;

  &::before {
    @include pseudo (100%, 1px);

    background-color: #74819c;
    top: -1px;
    left: 0;
  }

  @media (min-width: $tablet-width) {
    padding: 34px 118px 31px 0;

    &::before {
      top: 0;
    }

    &:nth-child(4) {
      padding: 25px 118px 24px 0;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 31px 118px 31px 0;

    &::before {
      top: -1px;
    }

    &:nth-child(4) {
      padding: 31px 118px 24px 0;
    }
  }
}

.faq__accordion-tab:last-child {
  &::after {
    @include pseudo (100%, 1px);

    background-color: #74819c;
    bottom: 1px;
    left: 0;
  }

  @media (min-width: $desktop-width) {
    &::after {
      bottom: -7px;
    }
  }
}

.faq__accodrion-tab-content {
  width: 238px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 560px;
  }

  @media (min-width: $desktop-width) {
    width: 660px;
  }
}

.faq__question-wrapper {
  position: relative;
}

.faq__accodrion-tab-content h3 {
  margin: 0;
  transition: margin 0.3s ease;
  padding: 0;
  font-family: $primary-font;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  color: $primary-text-color;

  @media (min-width: $tablet-width) {
    font-size: 22px;
    line-height: 22px;
  }

  @media (min-width: $desktop-width) {
    font-size: 24px;
    line-height: 24px;
  }
}

.faq__tab {
  display: none;

  &--active {
    display: block;
  }
}

.faq__tab .faq__accordion-tab .faq__accodrion-tab-content p {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  margin: 0;
  padding: 0;
  font-family: $primary-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
  color: $primary-text-color;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
  }
}

.faq__accordion-tab-button {
  position: absolute;
  translate: -50% -50%;
  top: 50%;
  right: -67px;
  width: 30px;
  height: 30px;
  background-color: $faq-tab-button-bg-color;
  border-radius: 50%;
  border: 1px solid $faq-tab-button-active-bg-color;
  cursor: pointer;

  &::before {
    @include pseudo (14px, 2px);

    top: 13px;
    left: 7px;
    background-color: $faq-tab-button-active-bg-color;
  }

  &::after {
    @include pseudo (14px, 2px);

    transform: rotate(90deg);
    top: 13px;
    left: 7px;
    background-color: $faq-tab-button-active-bg-color;
  }

  @media (min-width: $tablet-width) {
    top: 47%;
    right: -138px;
    width: 40px;
    height: 40px;

    &::before {
      top: 18px;
      left: 9px;
      width: 20px;
    }

    &::after {
      top: 18px;
      left: 9px;
      width: 20px;
    }
  }

  @media (min-width: $desktop-width) {
    top: 50%;
    right: -220px;
  }
}


.faq__accordion-tab-button--active {
  background-color: $faq-tab-button-active-bg-color;

  &::before {
    background-color: $primary-page-bg;
  }

  &::after {
    display: none;
  }
}

.faq__accordion-tab--active {
  @media (min-width: $tablet-width) {
    padding: 34px 118px 23px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 31px 118px 23px 0;
  }
}

.faq__tab--active .faq__accordion-tab--active .faq__accodrion-tab-content h3 {
  margin: 0 0 20px;

  @media (min-width: $tablet-width) {
    margin: 0 0 18px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 31px;
  }
}

.faq__tab--active .faq__accordion-tab--active .faq__accodrion-tab-content p {
  max-height: 100%;
}

.faq__center-tab .faq__accordion-tab:nth-child(1) h3 {
  padding: 0 22px 0 0;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.faq__button:not(.faq__button--active):hover,
.faq__button:not(.faq__button--active):focus {
  outline: none;
  border: 1px solid $primary-text-color;
}

.faq__button--active:focus {
  outline: none;
}

.faq__button:active {
  background: $button-faq-gradient-bg;
  color: $secondary-text-color;
}

.faq__button:disabled,
.faq__button.disabled {
  pointer-events: none;
  color: $play-button-focus-color;
  background: transparent;
  border: 1px solid rgba(16, 38, 84, 0.2);
}

.faq__accordion-tab-button:hover {
  background-color: $phone-focus-color;

  &::before {
    background-color: $secondary-text-color;
  }

  &::after {
    background-color: $secondary-text-color;
  }
}

.faq__accordion-tab-button:focus {
  outline: none;
  background-color: $faq-focus-button-color;

  &::before {
    background-color: $secondary-text-color;
  }

  &::after {
    background-color: $secondary-text-color;
  }
}

.faq__accordion-tab-button:active {
  background-color: $phone-focus-color;

  &::before {
    background-color: $secondary-text-color;
  }

  &::after {
    background-color: $secondary-text-color;
  }
}

.faq__accordion-tab-button:disabled,
.faq__accordion-tab-button.disabled {
  opacity: 0.3;
  background-color: $secondary-text-color;

  &::before {
    background-color: $primary-text-color;
  }

  &::after {
    background-color: $primary-text-color;
  }
}
