.footer {
  background-color: $footer-bg;
}

.footer__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 40px 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    width: 768px;
    padding: 45px 44px 41px 45px;
  }

  @media (min-width: $desktop-width) {
    width: 1366px;
    padding: 40px 100px 32px 103px;
    gap: 0 157px;
  }
}

.footer__logo-wrapper {
  margin-bottom: 23px;
  padding: 0 15px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.footer__lists-wrapper {
  padding: 0 14px;

  @media (min-width: $tablet-width) {
    display: flex;
    width: 569px;
    padding: 0;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  @media (min-width: $desktop-width) {
    width: 876px;
    padding: 0;
    gap: 0 315px;
  }
}

.footer__navigation {
  @media (min-width: $tablet-width) {
    width: 463px;
    padding: 1px 34px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 0 9px;
  }
}

.footer__nav-list {
  display: grid;
  margin-bottom: 28px;
  grid-template-columns: repeat(4, 1fr);
  gap: 18px 23px;
  flex-wrap: wrap;
  text-align: center;
  justify-items: flex-start;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    gap: 0 29px;
  }

  @media (min-width: $desktop-width) {
    width: 620px;
    padding: 2px 0 0;
    gap: 0 81px;
  }
}

.footer__nav-item {
  &--services {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  &--subscribe {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  &--offers {
    grid-column: 3 / 4;
    grid-row: 1 / 2;

    @media (min-width: $tablet-width) {
      padding: 0;
    }
  }

  &--juri {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  &--schedule {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding-left: 10px;

    @media (min-width: $tablet-width) {
      padding: 0;
    }
  }
}

.footer__social-list {
  padding: 0 1px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.social-list__item {
  text-align: center;
}

.footer__link {
  position: relative;
  padding: 0;
  display: block;
  font-family: $primary-font;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: $secondary-text-color;
  text-decoration: none;
  border: 1px solid transparent;
}

.footer__link:hover {
  &::after {
    @include pseudo(100%, 1px);

    bottom: -5px;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: $primary-page-bg;
  }
}

.footer__link:focus {
  outline: 1px solid $secondary-text-color;
  outline-offset: 5px;

  &::after {
    display: none;
  }
}

.footer__link:active {
  opacity: 0.3;
}

.footer__link.disabled {
  pointer-events: none;
  opacity: 0.4;
}
