.footer {
  background-color: $footer-bg;
}

.footer__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 40px 5px 35px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    width: 768px;
    padding: 37px 45px 38px;
  }

  @media (min-width: $desktop-width) {
    width: 1366px;
    padding: 30px 100px 33px 103px;
    gap: 0 157px;
  }
}

.footer__logo-wrapper {
  margin-bottom: 14px;
  padding: 0 10px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    padding: 8px 0 0;
  }

  @media (min-width: $desktop-width) {
    padding: 10px 0 0;
  }
}

.footer__lists-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    width: 568px;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    width: 876px;
    gap: 0 158px;
  }
}

.footer__nav-list {
  display: grid;
  width: 290px;
  margin-bottom: 5px;
  grid-template-columns: repeat(4, 1fr);
  gap: 0 5px;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(5, 1fr);
    width: 463px;
    margin: 0;
    padding: 0 26px;
    gap: 0 10px;
  }

  @media (min-width: $desktop-width) {
    width: 620px;
    padding: 2px 0 0;
    gap: 0 63px;
  }
}

.footer__nav-item {
  &--services {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    @media (min-width: $tablet-width) {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }
  }

  &--subscribe {
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    @media (min-width: $tablet-width) {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }
  }

  &--offers {
    grid-column: 3 / 4;
    grid-row: 1 / 2;

    @media (min-width: $tablet-width) {
      grid-column: 3 / 4;
      grid-row: 1 / 2;
      padding: 0;
    }
  }

  &--juri {
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    @media (min-width: $tablet-width) {
      grid-column: 4 / 5;
      grid-row: 1 / 2;
    }
  }

  &--schedule {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding-left: 10px;

    @media (min-width: $tablet-width) {
      grid-column: 5 / 6;
      grid-row: 1 / 2;
      padding: 0;
    }
  }
}

.footer__social-list {
  padding: 10px 10px 0;

  @media (min-width: $tablet-width) {
    padding: 8px 0 0;
  }

  @media (min-width: $desktop-width) {
    padding: 10px 0 0;
  }
}

.social-list__item {
  text-align: center;
}

.footer__link {
  position: relative;
  padding: 10px;
  display: block;
  font-family: $primary-font;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: $secondary-text-color;
  text-decoration: none;
  border: 1px solid transparent;
}

.footer__link:hover {
  &::after {
    @include pseudo(100%, 1px);

    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: $primary-page-bg;
  }
}

.footer__link:focus {
  outline: none;
  box-shadow: 0 0 0 1px $primary-page-bg;

  &::after {
    display: none;
  }
}

.footer__link:active {
  opacity: 0.3;
}

.footer__link.disabled {
  pointer-events: none;
  opacity: 0.4;
}
