// FONTS
$primary-font: "Roboto Condensed", "Arial", sans-serif;
$secondary-font: "Alumni Sans", "Arial", sans-serif;

// WIDTH'S
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1366px;

// TEXT COLORS
$primary-text-color: #102654;
$secondary-text-color: #ffffff;
$inactive-text-color: rgba(16, 38, 84, 0.5);
$price-text-color: #103aae;
$price-shadow-text-color: #e8e8e8;
$features-secondary-text-color: #2e35ac;
$gradient-text-color-mobile: linear-gradient(128deg, #d10a42 20%, #0041ca 47%);
$gradient-text-color-tablet: linear-gradient(128deg, #d10a42 0%, #0041ca 47%);

// BACKGROUND COLORS
$primary-page-bg: #ffffff;
$secondary-page-bg: #f8f9fc;
$hero-gradient-bg: linear-gradient(to left, #b4022a 0%, #1c3477 60%);
$button-gradient-bg: linear-gradient(to right, #ed0233, #003eb7);
$video-preview-bg: rgba(20, 54, 122, 0.5);
$video-preview-button-border-bg: rgba(237, 2, 51, 0.2);
$price-offers-item-acitve-underline: #d10a42;
$games-text-bg-color: #ed0233;
$link-border-color: #ffffff;
$accent-feature-bg: #1c3374;
$feature-desktop-decor-bg: rgba(209, 10, 66, 0.2);
$offers-accent-bg: #ed0233;
$offer-border-color: linear-gradient(128deg, #d10a42, #00359f);
$faq-tabs-buttons-border-color: rgba(16, 38, 84, 0.2);
$faq-tab-button-bg-color: transparent;
$faq-tab-button-active-bg-color: #1c3374;
$button-faq-gradient-bg: linear-gradient(to right, #ed0233 13%, #003eb7 100%);
$review-bg-color: #1c3374;
$review-shadow-color: rgba(28, 51, 116, 0.2);
$form-bg-color: #102654;
$footer-bg: #030a1a;

// HOVER,FOCUS,ACTIVE,DISABLED STATES
$phone-hover-color: rgba(28, 51, 116, 0.5);
$phone-focus-color: #1c3374;
$phone-active-color: #102654;
$phone-disabled-color: rgba(248, 249, 252, 0.5);
$dark-bg-button-focus-border-color: #000000;
$dark-bg-button-focus-bg-color: linear-gradient(to right, rgba(237, 2, 51, 0.8) 13%, rgba(0, 62, 183, 0.8) 100%);
$dark-bg-button-active-text-color: rgba(255, 255, 255, 0.7);
$dark-bg-button-disabled-color: rgba(16, 38, 84, 0.3);
$play-button-hover-color: rgba(16, 38, 84, 0.6);
$play-button-focus-color: #c8c9cc;
$play-button-active-color: #ffffff;
$play-button-disabled-color: rgba(16, 38, 84, 0.4);
$tab-button-hover-color: rgba(16, 38, 84, 0.7);
$faq-focus-button-color: #74819c;
$social-link-disabled-color: #dadada;
$form-placeholder-color: rgba(255, 255, 255, 0.4);
$form-error-color: #ff121f;
